{% extends 'base.html' %}
{% block content %}
<h1>Despesas (todas)</h1>
<table class="table table-striped">
  <thead><tr><th>Data</th><th>Tipo</th><th>Descrição</th><th>Valor</th><th>Corrida</th></tr></thead>
  <tbody>
  {% for d in despesas %}
    <tr>
      <td>{{ d.data.strftime('%d/%m/%Y') }}</td>
      <td>{{ d.tipo }}</td>
      <td>{{ d.descricao or '' }}</td>
      <td>${{ '%.2f'|format(d.valor) }}</td>
      <td><a href="{{ url_for('rides.view', ride_id=d.ride_id) }}">#{{ d.ride_id }}</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
